.productOptionDrawer{
    z-index: 1300 !important;
}

.optionDetailContainer{
    margin: 4rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product{
    border-radius: 50%;
}

.inputContainer{
    display: fled;
    flex-direction: row !important;
}

.quantityInput{
    justify-content: center;
    align-items: center;

}

.addToBasketButton{
    margin-top: 1rem !important;
    background-color: #ffca40 !important;
    color:black !important;
    font-weight: bold !important;
    width: 24rem;
}