.productCardContainer:active{
    transform:scale(0.9);
    transition: 0.18s;
}

.productCardContainer{
    transform:scale(1);
    transition: 0.18s;
}

.productTitle{
    font-weight: 800 !important;
    font-size: 1rem !important ;
}

.productPrice{
    font-weight: 800 !important;
    font-size: 2rem !important;
}